{% extends "base.html" %}
{% block body %}
<body class="tos-bg">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="http://alwaysai.co/" target="_blank"><div class="alwaysai-logos-svg-horizontal-logo-red-black"></div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <span class="navbar-nav mr-auto"></span>

      <ul class="navbar-nav ">

        <li class="nav-item">
          <a class="nav-link" href="https://alwaysai.co/docs" target="_blank">Documentation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://alwaysai.co/support" target="_blank">Support</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container" min-width= "1024px" width="100%">

    <div class="dash-sub-title">
      <h1>alwaysAI IMAGE CAPTURE DASHBOARD</h1>
    </div>

    <div class="container">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">OUTPUT<div class="stop-button" id="stop-app"></div></h5>
            <div class="card-scroller">
              <p id="streamer-text"></p>
            </div>
          </div>
        </div>
        <br>
        <div style="width: 70%">
          <img id="streamer-image" src="">
        </div>
      </div>
    </div>
    <div class="container" min-width= "1024px" width="100%"></div>
      <div class="dash-sub-title">
        <br>
        <div class="container" min-width= "1024px" width="100%">
          <button class="btn video-btn" id="snapshot"><i class="fa fa-camera"></i> Take Snapshot </button>
          <button class="btn video-btn" id="start-button"><i class="fa fa-video-camera"></i> Start Collection</button>
          <button class="btn stop-btn" id="stop-button"><i class="fa fa-stop"></i> Stop Collection</button>
          <a class="btn-view" href="{{url_for('videos')}}"><button class="btn data-btn"><i class="fa fa-files-o"></i> View All Data</button></a>
        </div>
      </div>
    </div>
</body>
{% endblock %}
